body {
    background-color: darkblue;
    margin: 20px;
    color: white;
}
a {
    color: red;
}
button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: white;
  color: black;
}
