body {
    margin: 20px;
    background-color: ivory;
    color: black;
}

a {
    color: blue;
}
button {
  padding: 10px 20px;
  background-color: red;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: darkred;
  color: lightgreen;
}